<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Park My Spot</title>
    <link rel="stylesheet" href="/css/Admin.css">
</head>

<body>

    <!-- Navbar  Section -->



    <!-- 
    <a class="a" href="/Reservation">Reservation</a>
    <br><a class="a" href="/users">Users</a> -->





    <table>
        <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Team Name</th>
            <th>Leader Name</th>
            <th>Leader Uid</th>
            <th>Contact No</th>
            <th>Whatsapp No</th>
            <th>Recomended by</th>
            <th>Time</th>
            <th>Paid Value</th>
            <!-- <th>Payment Status+img</th> -->
            <th>CreatedAt</th>
            <!-- <th>UpdatedAt</th> -->

        </tr>
        <% datas.forEach(data=> { %>
            <tr>
                <td>
                    <%= data._id %>
                </td>
                <td>
                    <%= data.u_name %>
                </td>
                <td>
                    <%= data.team_name %>
                </td>
                <td>
                    <%= data.leader.name %>
                </td>

                <td>
                    <%= data.leader.uid %>
                </td>
                <td>
                    <%= data.phone %>
                </td>
                <td>
                    <%= data.whats_no %>
                </td>

                <td>
                    <%= data.recomended %>
                </td>
                <td>
                    <%= data.time %>
                </td>
                <td>
                    <%= data.value %>
                </td>

                <!-- <td>
                    <%= data.paymentstatus %>
                </td> -->
                <td>
                    <%= data.createdAt %>
                </td>
                <!-- <td>
                    <%= data.updatedAt %>
                </td> -->

                
                <td>
                    <a class="delete" href="/admin/game/<%= data._id %>"> <button>Delete</button></a>
                    <br>
                </td>
            </tr>

            <% }); %>

    </table>
</body>

</html>